<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
  <appSettings>
    <add key="windowFullfill" value="051 Leveringen - Exact" />
    <add key="windowReceipt" value="051 Ontvangsten - Exact" />
    <add key="windowCounts" value="051 Aanmaken: Serienummer - Exact" />
    <add key="windowClass" value="ThunderRT6FormDC" />
  </appSettings>

</configuration>
